<!DOCTYPE html>
<html xmlns:th="http://wwww.thymeleaf.prg">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<html lang="en">
<head>
    <link rel="shortcut icon" href="/images/love.ico" />
    <title>注册成功</title>
    <script type="text/javascript" src="/jquery/jquery-3.4.1.min.js"></script>
</head>
<body>
<p><span id="text">注册成功！将在<span style="color: red">5秒</span>后自动跳转到登录页面   </span><a href="/sharerLogin">点击此处快速跳转</a></p>
</body>
<script  type="text/javascript">
    $(function () {
        var num=4;
        window.setTimeout(a,1000);
        function a(){
            if (num!=0){
                $("#text").html("注册成功！将在<span style=\"color: red\">"+num+"秒</span>后自动跳转到登录页面   ");
                window.setTimeout(a,1000);
                num--;
            }else {
                num=4;
                window.location="/sharerLogin";
            }
        }
    });
</script>
</html>
